<!-- use the 'update' form to allow a user to change whether the book has been borrowed/returned. -->


<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/savebook" th:object="${aBook}" method="post">


    <input type="hidden" th:field="*{id}">
    Book Title: <input type="text" th:field="*{title}">
    Check this box to borrow this book: <input type="checkbox" th:field="*{borrowed}" th:check="*{borrowed}">
    <button type="submit">Add a book</button>
</form>
</body>
</html>